{% extends 'base.html' %}
{% load static %}
{% block main %}
<!-- ##### Contact Area Start ##### -->
<section class="contact-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-xl-9">
                <div class="contact-content mb-100">
                    <h4 class="mb-50">Contact</h4>
                    <div class="mb-50">
                        <p>Une question? Une suggestion? Voire (on peut rêver) une soudaine envie d’exprimer une
                            admiration
                            infinie? Un petit mail et c’est dans la boîte! Ce sera un plaisir pour moi d’engager une
                            conversation.</p>
                    </div>

                    <!-- Contact Form Area -->
                    <div class="contact-form-area mb-70">
                        <form action="#" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="name"
                                               placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" name="email"
                                               placeholder="E-mail">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" id="message" cols="30" rows="10"
                                                  placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn bueno-btn mt-30" type="submit">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <div class="col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3">
                <div class="sidebar-area">

                    <!-- Single Widget Area -->
                    <div class="single-widget-area author-widget mb-30">
                        {% include 'odelia_widget.html' %}
                    </div>

                    <!-- Single Widget Area -->
                    {% include 'subscribe.html' %}
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ##### Contact Area End ##### -->
{% endblock %}
