{% load static %}
<div class="recipe-info w-50">
    <h5>Info</h5>
    <ul class="info-data">
        <li><img src="{% static 'img/core-img/eye.png' %}" alt=""> <span>1,577 Views</span></li>
        <li><img src="{% static 'img/core-img/alarm-clock.png' %}" alt=""> <span>30 min</span></li>
        <li><img src="{% static 'img/core-img/tray.png' %}" alt=""> <span>Serves 4</span></li>
        <li><img src="{% static 'img/core-img/sandwich.png' %}" alt=""> <span>Easy</span></li>
        <li><img src="{% static 'img/core-img/compass.png' %}" alt=""> <span>200F</span></li>
    </ul>
</div>