{% load static %}
<div class="background-pattern bg-img"
     style="background-image: url({% static 'img/core-img/pattern2.png' %});">
    <div class="author-thumbnail">
        <img src="{% static 'ode_avatar.jpg' %}" alt="">
    </div>
    <p>Odelia N.D. -- Healthy & Fluid Way of Life,
    </p>
</div>
<div class="social-info">
    <a href="https://www.pinterest.com/odelia0326/" target="_blank"><i class="fa fa-pinterest"
                                                                       aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/limonana.blog" target="_blank"><i class="fa fa-facebook"
                                                                        aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/limonana.blog/?hl=fr" target="_blank"><i class="fa fa-instagram"
                                                                                aria-hidden="true"></i></a>
</div>