{% extends 'base.html' %}
{% load static %}
{% block main %}
<!-- ##### Search Area Start ##### -->
<!--<div class="bueno-search-area section-padding-100-0 pb-70 bg-img"-->
<!--     style="background-image: url(img/core-img/pattern.png);">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-12">-->
<!--                <form action="#" method="post">-->
<!--                    <div class="row">-->
<!--                        <div class="col-12 col-sm-6 col-lg-3">-->
<!--                            <div class="form-group mb-30">-->
<!--                                <select class="form-control" id="recipe">-->
<!--                                    <option value="">Recipe</option>-->
<!--                                    <option value="">Recipe 1</option>-->
<!--                                    <option value="">Recipe 2</option>-->
<!--                                    <option value="">Recipe 3</option>-->
<!--                                    <option value="">Recipe 4</option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="col-12 col-sm-6 col-lg-3">-->
<!--                            <div class="form-group mb-30">-->
<!--                                <select class="form-control" id="vegan">-->
<!--                                    <option value="">Vegan</option>-->
<!--                                    <option value="">Vegan 1</option>-->
<!--                                    <option value="">Vegan 2</option>-->
<!--                                    <option value="">Vegan 3</option>-->
<!--                                    <option value="">Vegan 4</option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="col-12 col-sm-6 col-lg-3">-->
<!--                            <div class="form-group mb-30">-->
<!--                                <select class="form-control" id="ingredients">-->
<!--                                    <option value="">Ingredients</option>-->
<!--                                    <option value="">Ingredients 1</option>-->
<!--                                    <option value="">Ingredients 2</option>-->
<!--                                    <option value="">Ingredients 3</option>-->
<!--                                    <option value="">Ingredients 4</option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-12 col-sm-6 col-lg-3">-->
<!--                            <div class="form-group mb-30">-->
<!--                                <button class="btn bueno-btn w-100">Search</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- ##### Search Area End ##### -->

<!-- ##### Post Details Area Start ##### -->
<section class="post-news-area section-padding-100-0 mb-70">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Post Details Content Area -->
            <div class="col-12 col-lg-8 col-xl-9">
                <div class="post-details-content mb-100">
                    <div class="blog-thumbnail mb-50">
                        <img src="{{ post.image.url }}" alt="">
                    </div>
                    <div class="blog-content">
                        <a href="#" class="post-tag">Healthy Food</a>
                        <h4 class="post-title">{{ post.title|title }}</h4>
                        <div class="post-meta mb-50">
                            <a href="#" class="post-date">{{ post.created_on|date }}</a>
                            <a href="#" class="post-author">By {{ post.author }}</a>
                        </div>
                        {{ post.content|safe }}
                    </div>
                </div>

                <!-- Comment Area Start -->
                <div class="comment_area clearfix mb-100">
                    <h4 class="mb-50">Comments</h4>

                    <ol>
                        {% for comment in post.comments.all %}
                        <!-- Single Comment Area -->
                        <li class="single_comment_area">
                            <!-- Comment Content -->
                            <div class="comment-content d-flex">
                                <!-- Comment Author -->
                                <div class="comment-author">
                                    <a data-toggle="collapse" data-target="#children_{{ comment.id }}"><img
                                            src="{% static 'logo.ico' %}" alt="author"></a>
                                </div>
                                <!-- Comment Meta -->
                                <div class="comment-meta">
                                    <div class="d-flex">
                                        <a href="#" class="post-author">{{ comment.name }}</a>
                                        <a href="#" class="post-date">{{ comment.created_on|date }}</a>
                                        <a class="reply" data-toggle="modal" data-target="#modal_{{ comment.id }}">
                                            Reply
                                        </a>
                                    </div>
                                    <p>{{ comment.body }}</p>
                                    {% if comment.children_count >= 1 %}
                                    <a data-toggle="collapse" data-target="#children_{{ comment.id }}">
                                        <p>{{ comment.children_count }} replies</p>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="collapse" id="children_{{ comment.id }}">
                                {% for child in comment.children %}
                                <ol class="children">
                                    <li class="single_comment_area">
                                        <!-- Comment Content -->
                                        <div class="comment-content d-flex">
                                            <!-- Comment Author -->
                                            <div class="comment-author">
                                                <img src="{% static 'logo.ico' %}" alt="author">
                                            </div>
                                            <!-- Comment Meta -->
                                            <div class="comment-meta">
                                                <div class="d-flex">
                                                    <a href="#" class="post-author">{{ child.name }}</a>
                                                    <a href="#" class="post-date">{{ child.created_on|date }}</a>
                                                </div>
                                                <p>{{ child.body|safe }}</p>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                                {% endfor %}
                            </div>
                        </li>
                        {% endfor %}
                    </ol>
                </div>

                <div class="post-a-comment-area mb-30 clearfix">
                    <h4 class="mb-50">Leave a reply</h4>

                    <!-- Reply Form -->
                    <div class="contact-form-area">
                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Name*">
                                </div>
                                <div class="col-12 col-lg-6">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email*">
                                </div>
                                <div class="col-12">
                                    <textarea name="body" class="form-control" id="message" cols="30" rows="10"
                                              placeholder="Message"></textarea>
                                </div>
                                <div class="col-12">
                                    <button class="btn bueno-btn mt-30" type="submit" name="main" value="">Submit Comment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Comment Modals -->
            {% for comment in post.comments.all %}
            {% include 'comment_modal.html' %}
            {% endfor %}

            <!-- Sidebar Widget -->
            <div class="col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3">
                <div class="sidebar-area">

                    <!-- Single Widget Area -->
                    <div class="single-widget-area author-widget mb-30">
                        <div class="background-pattern bg-img"
                             style="background-image: url(img/core-img/pattern2.png);">
                            <div class="author-thumbnail">
                                <img src="{{ post.author.profile.avatar.url }}" alt="">
                            </div>
                            <p>{{ post.author.profile.bio }}</p>
                        </div>
                        <div class="social-info">
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <!-- Single Widget Area -->
                    <div class="single-widget-area add-widget mb-30">
                        <img src="img/bg-img/add.png" alt="">
                    </div>

                    <!-- Single Widget Area -->
                    <div class="single-widget-area post-widget mb-30">
                        <!-- Single Post Area -->
                        <div class="single-post-area d-flex">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <img src="img/bg-img/12.jpg" alt="">
                            </div>
                            <!-- Blog Content -->
                            <div class="blog-content">
                                <a href="#" class="post-title">Friend eggs with ham</a>
                                <div class="post-meta">
                                    <a href="#" class="post-date">July 11, 2018</a>
                                    <a href="#" class="post-author">By Julia Stiles</a>
                                </div>
                            </div>
                        </div>

                        <!-- Single Post Area -->
                        <div class="single-post-area d-flex">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <img src="img/bg-img/13.jpg" alt="">
                            </div>
                            <!-- Blog Content -->
                            <div class="blog-content">
                                <a href="#" class="post-title">Burger with fries</a>
                                <div class="post-meta">
                                    <a href="#" class="post-date">July 11, 2018</a>
                                    <a href="#" class="post-author">By Julia Stiles</a>
                                </div>
                            </div>
                        </div>

                        <!-- Single Post Area -->
                        <div class="single-post-area d-flex">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <img src="img/bg-img/14.jpg" alt="">
                            </div>
                            <!-- Blog Content -->
                            <div class="blog-content">
                                <a href="#" class="post-title">Avocado &amp; Oisters</a>
                                <div class="post-meta">
                                    <a href="#" class="post-date">July 11, 2018</a>
                                    <a href="#" class="post-author">By Julia Stiles</a>
                                </div>
                            </div>
                        </div>

                        <!-- Single Post Area -->
                        <div class="single-post-area d-flex">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <img src="img/bg-img/15.jpg" alt="">
                            </div>
                            <!-- Blog Content -->
                            <div class="blog-content">
                                <a href="#" class="post-title">Tortilla prawns</a>
                                <div class="post-meta">
                                    <a href="#" class="post-date">July 11, 2018</a>
                                    <a href="#" class="post-author">By Julia Stiles</a>
                                </div>
                            </div>
                        </div>

                        <!-- Single Post Area -->
                        <div class="single-post-area d-flex">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <img src="img/bg-img/16.jpg" alt="">
                            </div>
                            <!-- Blog Content -->
                            <div class="blog-content">
                                <a href="#" class="post-title">Burger with fries</a>
                                <div class="post-meta">
                                    <a href="#" class="post-date">July 11, 2018</a>
                                    <a href="#" class="post-author">By Julia Stiles</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Widget Area -->
                    <div class="single-widget-area newsletter-widget mb-30">
                        <h6>Subscribe to newsletter</h6>
                        <form action="#" method="post">
                            <input type="search" name="widget-search" id="widgetSearch" placeholder="E-mail">
                            <button type="submit" class="btn bueno-btn w-100">Subscribe</button>
                        </form>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Post Details Area End ##### -->
{% endblock %}